@mixin bp($point) {
  @if $point == papa-bear {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == mama-bear {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 650px) { @content; }
  }
}

html {
  background-image: url(../img/bg3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
  color: white;
  margin: 20em auto 0 auto;
  text-align: center;
  
  @include bp(baby-bear) {
    margin: 10em auto 0 auto;
  }
  
  h1 {
    font-weight: 100;
    margin: 0;
  }
  
  ul {
    border-top: 1px dashed white;
    display: inline-block;
    padding: 0;
    
    li {
      display: inline-block;
      margin-right: 20px;
      padding: 10px 20px;
      
      &:last-child {
        margin-right: 0;
      }
    }
  }
}